<header id="header">

  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  <h1>{{ site.data.settings.title }}</h1>
  <p class="kicker">{{ site.data.settings.description }}</p>


</header>
