footer
  @extend %background-image
  background-image: url(../img/#{$logo-path}), url(../img/#{$hero-path})

  .lockup
    padding: 50px 30px
    +clearfix

    .content-wrap
      float: right
      margin-left: 80px

      .copyright
        margin: 0
        text-transform: uppercase
        font-size: 12px
        color: white

      a
        @extend %small-bold
        color: white
        display: inline-block
        margin-right: 30px

        &:hover
          color: rgba(0,0,0,0.7)
